.admin-page {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.users-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-container {
  max-height: 400px; /* Define a altura fixa do contêiner */
  overflow-y: auto; /* Habilita a barra de rolagem vertical */
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.user-item:last-child {
  border-bottom: none;
}

.btn-toggle-adm {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-add {
    background-color: green;
}

.btn-add:hover {
    background-color: darkgreen;
}

.btn-remove {
    background-color: red;
}

.btn-remove:hover {
    background-color: darkred;
}
