/* Estilos para a página inicial */

.home-page {
  display: flex;
  flex-direction: space-between;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    margin: 20px;

}
.overlay h1 {
  font-size: 3rem;
  color: #01AFFA;
  margin-bottom: 20px;
}

.overlay button {
  padding: 20px 120px;
  font-size: 30px;
  color: #fff;
  background-color: #FE2166;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-page button:hover {
  background-color: #01AFFA;
}

.home-page img {
  width: 40%;
  max-width: auto;
}
