.register-page {
  margin: 0;
  background-color: #FE2166;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-container h1 {
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container .form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.auth-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.auth-container input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-container .btn-primary {
  width: 100%;
  padding: 10px;
  background: #FE2166;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.auth-container .btn-primary:hover {
  background: #e01e5a;
}

.auth-container p {
  margin-top: 20px;
}

.auth-container .message {
  margin-top: 10px;
  color: #ff0000;
  font-weight: bold;
}
